#top-bar {
    -webkit-animation: topBarenter 1.3s;
    /* Safari 4.0 - 8.0 */
    animation: topBarenter 1.3s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes topBarenter {
    0% {
        left: 1000px;
    }
    80% {
        left: -25px;
    }
    90% {
        left: 25px;
    }
    100% {
        left: 0px;
    }
}


/* Standard syntax */

@keyframes topBarenter {
    0% {
        left: 1000px;
    }
    80% {
        left: -25px;
    }
    90% {
        left: 25px;
    }
    100% {
        left: 0px;
    }
}

.top-bar {
    width: 100%;
    height: 80px;
    background: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*FF 3.5+*/
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    z-index: 3400;
}

#gallery-loc {
    background: transparent;
    color: black;
    border-color: black;
    font-size: 28px;
    min-width: 250px;
    border: none;
    webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    padding: 10px;
}

#gallery-loc span {
    font-size: 28px;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
}

#gallery-loc:active,
#gallery-loc:hover,
#gallery-loc:focus {
    background: transparent;
    webkit-box-shadow: none;
    box-shadow: none;
}

h1 {
    font-size: 28px;
    margin-top: 10px;
}

#gallery-btns {
    min-width: 200px;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.dropdown-menu {
    width: 100%;
    padding: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*FF 3.5+*/
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    border-radius: 0;
    border: none;
}

.dropdown-menu a {
    display: block;
    font-size: 20px;
    line-height: 30px;
}

#home,
#about,
#gallery-btns,
#contact {
    display: none;
}

#logo {
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
}

#logo img {
    width: 100%;
}

#gallery-btns a {
    cursor: pointer;
    color: black;
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .top-bar {
        height: 50px;
        z-index: 2999;
    }
    #gallery-loc {
        background: transparent;
        color: black;
        border-color: black;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .dropdown-menu a {
        display: block;
        font-size: 16px;
        line-height: 30px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .top-bar {
        z-index: 2999;
    }
    #gallery-loc {
        background: transparent;
        color: black;
        border-color: black;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .dropdown-menu a {
        display: block;
        font-size: 16px;
        line-height: 30px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .top-bar {
        height: 50px;
        z-index: 2999;
    }
    .dropdown-menu a {
        display: block;
        font-size: 16px;
        line-height: 30px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .top-bar {
        z-index: 2999;
    }
    #gallery-loc {
        background: transparent;
        color: black;
        border-color: black;
        font-size: 18px;
    }
    h1 {
        font-size: 18px;
    }
    .dropdown-menu a {
        display: block;
        font-size: 16px;
        line-height: 28px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5) and (orientation:landscape) {
    .top-bar {
        height: 50px;
        z-index: 2999;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation:portrait) {
    h1 {
        font-size: 24px;
    }
    #gallery-loc {
        font-size: 24px;
    }
    .dropdown-menu a {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) and (max-height: 960px) {
    .top-bar {
        margin-top: 60px;
        z-index: 2999;
        height: 50px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 823px) and (min-resolution: 192dpi) and (orientation: landscape) {
    #logo {
        display: none;
    }
    .dropdown-menu {
        overflow-y: scroll;
        height: 165px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 823px) and (min-resolution: 192dpi) and (orientation: portrait) {
    #logo {
        display: none;
    }
}

@media only screen and (min-device-width: 800px) and (max-device-height: 823px) and( orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    #logo {
        display: block;
    }
}