.left-side {
    width: 100%;
    min-height: calc(100vh - 50px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    position: relative;
    background: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*FF 3.5+*/
    -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    z-index: 999;
    padding: 100px 0 0 0;
}

.content-container {
    margin: 0 auto;
    position: relative;
    display: block;
}

.portfolio-img {
    height: 250px;
    width: 250px;
    background: yellow;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    display: block;
    float: none;
    padding: 10px 0 10px 0;
    margin: 30px 0 0 0;
    position: relative;
}

.navbar-nav li a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    padding: 0;
    width: 250px;
    line-height: 40px;
    display: block;
    padding: 0 10px;
}

.navbar-nav li a:hover {
    color: darkred;
}

.navbar-collapse.collapse {
    padding: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 123;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 500ms, stroke 250ms 125ms;
    z-index: -1;
}

svg rect {
    width: 98%;
    height: 96%;
    x: 1%;
    y: 2%;
}

.navbar {
    margin: 0;
}

.navbar-nav li:last-child {
    margin-bottom: 20px;
}

.navbar-nav li:hover svg {
    stroke-dashoffset: 312;
    stroke: darkred;
}

.navbar-nav li a.active {
    color: darkred;
}

.nav-link.active+svg {
    stroke-dashoffset: 312;
    stroke: darkred;
}

.navbar.navbar-expand-lg {
    transition: all .3s ease-in-out;
}

.menu {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    position: relative;
    float: none;
    background: black;
    padding: 4px;
}

.bar,
.bar:after,
.bar:before {
    height: 5px;
    width: 30px;
    background-color: white;
    display: block;
    transform-origin: center;
    border-radius: 3px;
}

.bar:after {
    content: " ";
    transform: translateY(10px);
}

.bar:before {
    content: " ";
    transform: translateY(-15px);
}


/* Animation */

@keyframes slideDownForBefore {
    0% {
        transform: translateY(-15px);
    }
    25%,
    75% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: translateY(0px) rotateZ(-50deg);
    }
}

@keyframes slideUpForAfter {
    0% {
        transform: translateY(10px);
    }
    25%,
    75% {
        transform: translateY(-5px);
    }
    50%,
    75% {
        transform: translateY(-5px) rotateZ(0deg);
    }
    100% {
        transform: translateY(-5px) rotateZ(50deg);
    }
}

@keyframes disappear {
    0% {
        background-color: #fefefe;
    }
    50%,
    100% {
        background-color: transparent;
    }
}


/* Reverse Effect */

@keyframes re-slideUpForAfter {
    0% {
        transform: translateY(-5px) rotateZ(50deg);
    }
    25%,
    75% {
        transform: translateY(-5px) rotateZ(0deg);
    }
    50%,
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes re-slideDownForBefore {
    0% {
        transform: translateY(0px) rotateZ(-50deg);
    }
    25%,
    75% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes re-disappear {
    0% {
        background-color: transparent;
    }
    50%,
    100% {
        background-color: #fefefe;
    }
}

.bar.animation:before {
    animation: slideDownForBefore 500ms linear forwards;
}

.bar.animation:after {
    animation: slideUpForAfter 500ms linear forwards;
}

.bar.animation {
    animation: disappear 500ms linear forwards;
}


/* Reverse Effect */

.bar:after {
    animation: re-slideUpForAfter 500ms forwards;
}

.bar:before {
    animation: re-slideDownForBefore 500ms forwards;
}

.bar {
    animation: re-disappear 500ms forwards;
}

@media all and (max-width: 1280px) and (max-height: 960px) {
    .left-side {
        width: 100%;
        padding: 50px 0 0 0;
    }
    .navbar-nav li a {
        width: 180px;
    }
    .portfolio-img {
        width: 180px;
        height: 180px;
    }
}

@media all and (max-width: 1366px) and (max-height: 768px) {
    .portfolio-img {
        height: 200px;
        width: 200px;
    }
    .navbar-nav li a {
        width: 200px;
    }
    svg {
        stroke-dashoffset: 115;
    }
    .navbar-nav li:hover svg {
        stroke-dashoffset: 541;
    }
    .nav-link.active+svg {
        stroke-dashoffset: 541;
    }
}

@media all and (max-width: 768px) and (max-height: 1024px) {
    .portfolio-img {
        width: 200px;
        height: 200px;
    }
    .navbar-nav li a {
        width: 200px;
    }
    svg {
        stroke-dashoffset: 115;
    }
    .navbar-nav li:hover svg {
        stroke-dashoffset: 541;
    }
    .nav-link.active+svg {
        stroke-dashoffset: 541;
    }
}

@media all and (max-width: 1024px) and (max-height: 768px) {
    .portfolio-img {
        height: 200px;
        width: 200px;
    }
    .navbar-nav li a {
        width: 200px;
    }
    svg {
        stroke-dashoffset: 115;
    }
    .navbar-nav li:hover svg {
        stroke-dashoffset: 541;
    }
    .nav-link.active+svg {
        stroke-dashoffset: 541;
    }
}

@media all and (max-width: 768px) and (max-height: 960px) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li a {
        width: 100%;
    }
}


/* GALAXY S5 */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
        font-size: 25px;
        line-height: 27px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .top-bar {
        height: 50px;
    }
    .navbar-nav li {
        text-align: center;
    }
}


/* iphone 5, 5se */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }
}


/* iphone 6, 6s */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
    }
}


/* iphone 7, 8 */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
    }
}


/* iphone 6+, 6s+, 7+, 8+ */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
    }
}


/* iphone X */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .left-side {
        width: 100%;
        padding: 0;
        min-height: auto;
        height: auto;
        z-index: 1010;
        position: fixed;
        top: 0;
        left: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
        width: 100%;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3.5) and (orientation:landscape) {
    .left-side {
        padding: 0;
    }
    .portfolio-img {
        display: none;
    }
    .menu {
        display: block;
    }
    .content-container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-top: 60px;
        width: 100%;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav li a {
        width: 100%;
        font-size: 20px;
        line-height: 27px;
    }
}