<div class="top-bar">
    <h1 id="home">Home:</h1>
    <h1 id="about">About:</h1>
    <div id="gallery-btns">
        <a id="logos-btn">Logos</a>
        <a id="busi-btn">Business Cards</a>
        <a id="book-btn">Book Illustrations</a>
        <a id="illu-btn">Illustrations</a>
        <!--
        <a [routerLink]="['./mywork/logos']" [routerLinkActive]="['active']" (click)="exp = !exp">Logos</a>
        <a [routerLink]="['./mywork/businesscards']" [routerLinkActive]="['active']" (click)="exp = !exp">Business Cards</a>
        <a [routerLink]="['./mywork/bookillustrations']" [routerLinkActive]="['active']" (click)="exp = !exp">Book Illustrations</a>
        <a [routerLink]="['./mywork/illustrations']" [routerLinkActive]="['active']" (click)="exp = !exp">Illustrations</a>
            -->
    </div>
    <h1 id="contact">Contact</h1>
</div>