<div id="greetingCont">
    <div id="greeting">
        <div class="greetingInner">
            <h1 class="greetingTxt">Hi, I'm Vlad, Front-end developer.</h1>
        </div>
        <span class="greetDivide"> | </span>
        <a class="contactMe" id="contactMe" routerLink='/main/contact'>CONTACT</a>
        <div class="greetingReveal"></div>
    </div>
</div>
<a id="workIntro" routerLink="/main/mywork/woodscreative">
    <img src="./assets/intro-work-top.svg" alt="work" id="work-top" class="slide-nav">
    <img src="./assets/intro-work-bottom.svg" alt="work" id="work-bottom" class="slide-nav">
</a>
<a id="aboutIntro" routerLink='/main/about'>
    <img src="./assets/intro-about-top.svg" alt="about" id="about-top" class="slide-nav">
    <img src="./assets/intro-about-bottom.svg" alt="about" id="about-bottom" class="slide-nav">
</a>

<main class="cover-main" id="cover">
    <div class="wrap" id="wrapMove">
        <div class="shadow-wrapper">
            <div class="shadow">
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="cube" id="cubePrevWrk">
            <div class="front"></div>
            <div class="back"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="image-wrapper" id="rocketFlight">
        <img id="img-r-1" class="popupOne" src="./assets/rocket.png" alt="">
        <img id="img-r-2" class="popupTwo" src="./assets/rocket1.png" alt="">
    </div>
    <div class="image-wrapper" id="moonRotate">
        <img id="img-3" src="./assets/moon.png" alt="">
    </div>
    <div id="logo">
        <img src="./assets/logo2.svg" alt>
    </div>
    <div id="logo-wrapper">
        <img src="./assets/logo2.svg" alt>
    </div>
    <div id="dream">
        <h2>Code your dreams in to reality...</h2>
    </div>
</main>
<footer id="footer-legals">
    <dd>© Vladimir Cordas 2018</dd>
</footer>