<div class="right-side-content">
    <div class="center-content">
        <h1>— I'm Vladimir Cordas, front-end web developer.</h1>
        <article>
            <p>I've always been drawn to create things that put a smile on peoples faces, from woodworking and experimenting with crystals, over making LARP costumes and LARPing with buddies, to what I love the most, web development. My skills are broad:
                from my favorite, front-end web development and basic website design, to dabbling in the arts of backend ( as a beginner ). I enjoy each aspect of my work, and love building sites from start to finish, for clients all over the world.</p>

        </article>
    </div>
</div>