<div class="right-side-content">
    <div class="btn-group" dropdown style="display: block;">
        <button id="gallery-loc" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      <span id="work-name">{{selectedPage.name}} </span><span class="caret"></span>
                    </button>
        <ul class="dropdown-menu" role="menu">
            <li *ngFor="let page of pages" [class.selected]="page === selectedPage" (click)="onSelect(page)">
                <a id={{page.id}} [routerLink]=page.route [routerLinkActive]="['active']" (click)="exp = !exp">{{page.name}}</a>
            </li>
        </ul>
    </div>
    <div class="galleries-container" [@animateGallery]="exp">
        <router-outlet #appOutlet="outlet"></router-outlet>
    </div>
</div>