<div class="gallery-container">
    <div class="vert-align-cont">
        <div class="image-container">
            <div class="hor-align">
                <img id="myImg" src="./assets/meli-be.png" alt="melimaya.be" width="auto" height="500">
            </div>
        </div>
        <div class="gallery-descript">
            <div class="anim-container" id="galleryDesc">
                <h2>Meli Maya promo:</h2>
                <p>Meli Maya promo - website is a project I was involved with while working at HeavyForm creative agency.<br>My work on this project consisted of PSD to HTML + CSS3 website layout coding and doing some basic JavaScript/jQuery animations.</p>
                <dl>
                    <dt>Technologies used:</dt>
                    <dd>HTML5</dd>
                    <dd>CSS3</dd>
                    <dd>JavaScript</dd>
                    <dd>jQuery</dd>
                    <dd>&nbsp;</dd>
                    <dt>project expired</dt>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close"><i class="fa fa-times-circle"></i></span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>